/* 首页样式 */
/* 导航栏样式 */
.header {
  height: 40px;
  background: #333;
  overflow: hidden;
  font-size: 12px;
  line-height: 40px;
}

.header a {
  color: #b0b0b0;
}

.header a:active,
.header a:hover {
  color: #fff;
}

.header-right {
  padding-left: 20px;
}

/* 搜索栏 */
.search {
  height: 100px;
  font-size: 14px;
  line-height: 100px;
}

.search a {
  color: #333;
}

.search a:active,
.search a:hover {
  color: #ff6700;
}

.search .logo {
  background: url('../image/logo_top.png') no-repeat center center;
  height: 100px;
  width: 50px;
}

.search input {
  height: 50px;
  width: 100%;
  line-height: 44px;
  background: #fff;
  border: 1px #ccc solid;
}

.search .col {
  padding-left: 0px;
  padding-right: 0px;
}

/* banner */
.banner {
  background: url('../image/banner2.jpg') no-repeat center center;
  height: 460px;
  background-size: 100% 100%;
}

/* 轮播图的商品 */
.nav {
  width: 234px;
  height: 460px;
  background: rgba(0, 0, 0, 0.4);
  padding: 20px 0;
  position: relative;
}

.nav li {
  height: 40px;
}

.nav li>a {
  display: block;
  width: 234px;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  padding: 0 30px;
  color: #fff !important;
  text-align: left;
}

.nav li>a:hover {
  background: #ff6700;
}

.nav li .pop {
  width: 800px;
  height: 460px;
  background: #fff;
  position: absolute;
  left: 234px;
  top: 0px;
  display: none;
}

.nav li:hover .pop {
  display: block;
}

.nav li .pop .nav-list {
  width: 265px;
  float: left;
}

.nav li .pop .nav-list span {
  margin-left: 10px;
  color: #111;
  line-height: 72px;
}

.nav li .pop .nav-list a {
  height: 72px;
  width: 100%;
  text-align: left;
  padding-left: 20px;
}

.nav li .pop .nav-list a {
  width: 100%;
  height: 100%;
}

.nav li .pop .nav-list a img {
  width: 18%;
}

/* 轮播图下的图片 */
.sub_banner {
  margin: 20px 0;
}

.sub_banner .sidebar {
  padding-left: 0px;
}

.sub_banner .sidebar .sidebar-item {
  width: 78px;
  height: 85px;
  float: left;
  marign: 0;
  padding: 0;
}

.sub_banner .sidebar .sidebar-item a img {
  opacity: 0.8;
}

.sub_banner .sidebar .sidebar-item a img:hover {
  opacity: 1;
}

.sub_banner a {
  width: 100%;
  height: 100%;
}

.sub_banner a img {
  width: 100%;
  height: 100%;
}

.banner-bottom {
  background: url('../image/banner-bottom.jpg') no-repeat center center;
  height: 130px;
  background-size: 100% 100%;
}

/* 首页主要内容 */
.page-main {
  width: 100%;
  height: 100%;
  background: #f5f5f5;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px 0;
}

.page-main .title {
  height: 58px;
  line-height: 58px;
  font-size: 22px;
  text-align: left;
}

.page-main .row a {
  width: 100%;
  height: 100%;
}

.page-main .row a img {
  width: 100%;
  height: 100%;
}

.page-main .row .commodity-item a img {
  width: 80%;
  height: 80%;
  margin-top: 20px;
}

.page-main .w-100 {
  height: 10px;
}

/* 商品列表 */
.commodity-item {
  background: #fff;
  height: 100%;
}

.commodity-item .name {
  color: #333;
}

.commodity-item .dec {
  margin: 0 10px 10px;
  height: 18px;
  font-size: 12px;
  color: #b0b0b0;
}

.commodity-item .price {
  margin: 0 10px 10px;
  text-align: center;
  color: #ff6700;
}

.commodity-item .comment {
  display: none;
  position: absolute;
  background: #ff6700;
  font-size: 12px;
  color: #fff;
  width: 96%;
  height: 60px;
  padding: 10px;
  opacity: 0.8;
  webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.commodity-item .comment>div {
  text-align: left;
  width: 100%;
  line-height: 16px;
}

.commodity-item:hover .comment {
  display: block;
  bottom: 0px;
}

.main-img {
  width: 100%;
  height: 120px;
  margin-top: 30px;
}

.main-img img {
  width: 100%;
  height: 100%;
  ;
}

.img-height {
  height: 100%;
}

.page-bottom {
  padding: 20px;
  margin: 20px;
}