/*把默认的外间距设置为0*/
* {
  margin: 0 auto;
}

/* 设置最小宽度，防止拉变形 */
body {
  min-width: 1200px;
}

/*设置默认背景图片，覆盖全屏幕*/
#background {
  width: 100%;
  height: 20rem;
  background: url(../image/login_bg1.jpg)no-repeat center center;
  background-repeat: no-repeat;
  margin: 0 auto;
  background-size: cover;
}

/* 登录表单样式 */
#loginForm {
  padding: 1rem 1rem !important;
  margin-top: 3rem;
  background: rgba(68, 68, 68, 0.7);
  border-radius: 0.3rem;
  padding: 0 0.5rem;
  margin-left: 15rem;
}

/* 登录表单在右侧 */
#centerRow {
  justify-content: flex-end;
}

/* 设置登录和注册按钮样式 */
#loginBut {
  background-color: #ff6700;
  color: white;
  font-size: 0.6rem;
}

#regBut {
  background-color: #ff6700;
  float: right;
  color: white;
  font-size: 0.6rem;
}

/* 设置placeHolder提示字体大小 */
.form-control {
  font-size: 0.6rem !important;
}


.title {
  color: white;
  font-size: 0.6rem;
}

footer {
  margin-top: 1rem;
  font-size: 0.5rem;
  text-align: center;
}